* {
  all: unset; /*Unsets everything so you can style everything from scratch*/
}

window {
				background-color: rgba(46,52,64,0.7);
				color: #FFFFFF;
				padding: 5px;
				border-radius: 10px;
}

.bar-box {
				font-weight: bold;
				padding: 5px;
}

calendar {
	padding: 5px 0px;
}

calendar:selected {
		background-color: #8fbcbb;
		color: #000000;
}

calendar > * {
    border-radius: 50px;
}

